/*Base styles*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



:root {
    --text-color: #1a1c20;
    --link-color: #872020;
    --background-color: #f6f6f6;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

header {
    text-align: center;
    background-color: #f6f6f6;

}

header h1 {
    font-size: 3rem;

}

header h1 a {
    font-weight: 700;
    text-decoration: none;
    z-index: 1100;
    color: var(--text-color);
    display: inline-block; /* Ensures it behaves like an inline element inside the centered text */
    margin-bottom: 1rem;
    margin-top: 1rem;
}


nav {
    background-color: #bfd6c4;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 5rem;
    align-items: center;
    top: 5rem;
    width: 100%;
    z-index: 1000;
    background-color: #f6f6f6;
    border-top: 2px solid #1a1c20;
    border-bottom: 2px solid #1a1c20;
}

nav .left a {
    padding-right: 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    /* font-weight: 600; */
}

nav .left a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

section {
    padding: 2rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section:nth-of-type(odd) {
    background-color: #f8f8f8; /* Light gray for odd sections */
}

section:nth-of-type(even) {
    background-color: #ffffff; /* White for even sections */
}

/* Section Heading Styles */
section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 0rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #872020;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}


.arrow-container {
    margin-top: 2px; /* Space below the h2 */
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards, moveDown 3s ease-out forwards;
}

/* Keyframes for smooth entrance */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(15px);
    }
}

@keyframes extendLine {
    0% {
        height: 0;
    }
    100% {
        height: 50px; /* Adjust length */
    }
}


/* About Section */
#about-section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

#about-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#about-section .headshot{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 37px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about-section .headshot img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

#about-section .headshot img:hover {
    transform: scale(1.2);
}

#about-section .bio {
    max-width: 60rem;
    margin-bottom: 1rem;
    padding: 0 2 rem;
}

#about-section .bio p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

#about-section .button {
    background-color: var(--text-color);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 0.5rem;
    text-decoration: none;

}

#about-section .button:hover {
    background-color: var(--link-color);
    color: #ffffff;
    cursor: pointer;
}

#about-section .button a{
    text-decoration: none;
    color: #ffffff;
}

/* Projects */

h3 {
    font-size: 2rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}

#projects-section p{
    font-size: 1.2rem;
    font-weight: 400;
    /* margin-top: 0px; */
    /* margin-bottom: 1rem; */
}
.project-subsection {
    display: grid;  
    grid-template-columns: repeat(2, 2fr);  
    width: 100%;
    /* margin: 0 auto; */
}

/* Project Slide Styles */
.project-slide {
    position: relative;
    text-align: center;  /* Centers content within each slide */
}

/* Image styles */
.project-slide img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;  
}

/* video styles */
.project-slide iframe {
    width: 100%;
    height: 20vw;
    padding: 1px;
    display: block;
    margin: 0 auto;
}

/* Project Content Styles (Initially hidden) */
.project-content {
    width: 100%;
    height: 0%;  /* Initially hidden */
    background: #1a1c20;
    opacity: 0.85;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
    color: #f6e7e4;
}

.project-slide:hover .project-content {
    height: 100%;  
}



/* Contact */
#contact-section {
    min-height: auto;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.contact-container {
    display: flex;
    justify-content: space-between; /* Pushes contact-left and contact-right apart */
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Adjust for a nice layout */
    gap: 2rem;
}

.contact-left {
    flex: 1;
    text-align: left;
    max-width: 50%;
}

.contact-left h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.contact-left p {
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-right {
    flex: 1;
    max-width: 40%;
    padding-top: 4rem;

}

.contact-right p{
    font-size: 25px;
}

#contact-section .social-media {
    font-size: 2.5rem;
    padding-top: 0.5rem;
}

#contact-section .social-media a {
    padding: 0.5rem;
    margin: 0 0.75 rem;
}

#contact-section .social-media a i {
    transition: transform 0.3s, color 0.3s;
}

#contact-section .social-media a:hover i {
    transform: scale(1.2);
    color: var(--link-color);
}

#contact-section .social-media i {
    color: #1a1c20;
    font-weight: 500;
}


#contact-section form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact-section input,
#contact-section textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px; /* Adds spacing below each input */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


#contact-section .btn {
    background-color: var(--text-color);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    /* max-width: 70%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#contact-section .btn:hover {
    background-color: var(--link-color);
}



/* Footer */ 
footer {
    background-color: #1a1c20;
    color: #f6e7e4;
    text-align: center;
    padding: 2rem;
    bottom: 0;
    width: 100%;
}

footer .social-media {
    font-size: 2rem;
    padding-top: 0.6rem;

}

footer .social-media a {
    padding: 0.5rem;
    margin: 0 0.75 rem;
}

footer .social-media a i {
    transition: transform 0.3s, color 0.3s;
}

footer .social-media a:hover i {
    transform: scale(1.2);
    color: var(--link-color);
}

footer .social-media i {
    color: #f6e7e4;
    font-weight: 500;
}